<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.PracticaQuintoConnectionString"
            connectionString="Data Source=DESKTOP-K88719O;Initial Catalog=PracticaQuinto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>